*{
  margin: 0;
  padding: 0;
}

.wrapper{
  overflow-x: hidden;
  overflow-y: auto;    
}

.wrapper h1{
  margin-top: 5px;
  text-align: center;
}

.wrapper p{
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

.wrapper .main{
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.wrapper .form-container{
  width: 500px;
  height: 340px;
  background-color: #1811e9;
  margin: 20px auto;
  padding: 20px;   
}

.wrapper .form-container .btn{
  width: 100%;   
}

.wrapper .view-container{
  width: 600px;    
  background-color: #2910e6;
  margin: 25px auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.delete-btn{
  color: rgb(7, 27, 239);
  cursor: pointer;
}

tbody{
  margin-top: 25px;
}